.w3-modal{
    // z-index:3;
    display:none;
    position:fixed;left:0;
    top:0;
    width:100%;
    height:100%;
    overflow-block: auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)}